body {
    background-color: slategray;
}

.character-card {
    display: inline-block;
}

.card-img-top {
    height: 280px;
    width: 280ps;
    object-fit: cover;
    object-position: 0 0; 
    margin: 0 auto;
}